@page
@model Demo6.Pages.Students.IndexModel
@{
}
<a asp-page="create">Create</a>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th></th>
    </tr>
    @foreach (var item in Model.Students)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>
                <a asp-page="details" asp-route-id="@item.Id">Details</a>
                <a asp-page="edit" asp-route-id="@item.Id">edit</a>

            </td>
        </tr>
    }
</table>
